@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
[class*="__container"] {
  max-width: 1007px;
  margin: 0 auto;
  padding: 0 15px;
}

body,
html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
